body {
	line-height: 1;
	font-family: 'Oswald', serif;
	/*font-family: 'PT Sans Narrow', sans-serif;*/
}
h1, h2, h3 {
	font-family: 'PT Sans Narrow', serif;
	color: char;
}
button, button a {
	padding: 10px;
	cursor: pointer;
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	border: none;
}
button {
	background-color: #B61E1E;
}
main p {
	font-size: 1.15rem;
}
/******Aside*******/
aside {
	height: 40px;
	background-color: yellow;
	margin-bottom:  -35px; 
}
#closeable {
	margin-bottom: -33px;
}
.close {
	padding: 2px;
	float: right;
	font-size: 25px;
	font-weight: bolder;
	color: gray;
	
}
.close:hover, .close:focus {
	cursor: pointer;
	background-color: red;
	color: white;
}
/**********Navigation Bar****************/
.logo-box {
  position: relative;
  top: 6px;
  left: 32px;
}
.logo {
	width: 80px;
	height: 90px;
	box-shadow: 2px 2px 2px gray;
}
nav {
	margin-top: -78px;
	background-color: #860C46;

}
nav button {
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  width: 100%;
}
.main-nav {
	display: none;
}
#hidden li {
	list-style-type: none;
	padding: 1em 0; 
	white-space: nowrap;
	text-align: left;
}
.main-nav li:hover {
	background-color: darkblue;
}
#hidden li a {
	font-size: 1.15em;
	text-decoration: none;
	padding: 1em 0.4em;
	color: white;
}
.active {
	border-bottom: 2px solid #42aeff;
	color: #B61E1E;
}
/*****Homepage*******/
.action {
	margin-top: -15px;
}
.action picture img {
	width: 100%;
	height: 330px;

}
/*******Call********/
.call {
	text-align: center;
	margin-top: -250px;
}
.call h1 {
	white-space: nowrap;
}
.call h1, .call h2, .call p{
	margin-top: -5px;
}
/******Purpose & goal*******/
.purpose-goal {
	margin-top: 16px;
	padding-top: 20px;
}
.purpose {
	background-color: azure;
	padding: 5px 10%;
	text-align: center;
}
.goal {
	background-color: lightblue;
	padding: 5px 10%;
	text-align: center;
	margin-top: 2px;
}
.imagery {
	text-align: center;
	background-color: rgba(202, 210, 197, .3);
	padding: 10px 0;
	margin-top: 2px;  
}
.imagery p {
	padding: 0 10%;
}
.gallery2 {
	width: 90%;
	margin: 0 auto;
}
.main-view2 {
	width: 75%;
	height: 20rem;
	margin: 15px auto;
	border: 1px solid black;
	padding: 2px;
}
.main-view2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.side-view2 {
	width: 70%;
	display: inline-block;
	/*justify-content: center;*/
	/*flex-wrap: wrap;*/
}
.side-view2 img {
	width: 100px;
	height: 100px;
	cursor: pointer;
	object-fit: cover;
	margin: 0.5rem;
	padding: 0;
} 
.company-ads {
	text-align: center;
	background-color: rgba(255, 232, 214, .2);
	padding: 20px 0; 
	margin-top: 2px;
}
.bus-pic {
	width: 100%;
}
.company {
	width: 90%;
	margin: 0 auto;
	display: block;
	background-color: azure;
}
.company div:nth-child(2) {
	text-align: left;
	padding-left: 8px;
}
.company p {
	font-size: 1.15rem;
}
/********Contact Info*********/
.contact-info {
	text-align: center;
	display: block;
	padding: 20px;
	background-color: rgba(202, 210, 197, .3);
	margin-bottom: -17px;
}
.contact-info a {
	text-decoration: none;
}

iframe {
	width: 290px;
	height: 100px;
	padding: 3px;
	border: 1px solid black;
}
#contact-info2{
	text-align: center;
	margin-top: 72px; 
	display: block;
	background-color: azure;
	padding: 10px 0;
}
#contact-info2 section {
	margin: 5px 20px; 
}
.embed {
	height: 180px;
}
/**********City************/
.city-info {
	background-color: azure;
	margin-top: 60px;
	padding: 10px 0; 
}
.welcome-heading {
	text-align: center;
}
.city-info h3 {
	text-align: center;
}
.float{
	width: 20em;
}
.gallery {
	padding: 12px 0;
	margin-top: -20px;
	background-color: rgba(255, 232, 214, .2);
}
.main-view {
	width: 80%;
	height: 25rem;
	margin: 15px auto;
	border: 1px solid black;
	padding: 2px;
}
.main-view img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.side-view {
	display: flex;
	/*justify-content: center;*/
	/*flex-wrap: wrap;*/
	overflow: auto;
}
.side-view img {
	width: 100px;
	height: 100px;
	cursor: pointer;
	object-fit: cover;
	margin: 0.5rem;
	padding: 0;
} 
.current-events {
	padding: 8px 0;
	background-color: lightblue;
}
.current-events h2 {
	text-align: center;
}
/*******Upcoming Events************/
.events {
	padding-bottom: 10px;
	margin-top: -18px;
	background-color: azure;
}
.events h2 {
	text-align: center;
}
tr td:nth-child(2), tr th:nth-child(2) {
	text-align: left;
}
td, th {
	padding: 3px 10px 3px 12px;
	border: 1px solid #B61E1E;
}
table {
	width: 70%;
	margin: 0 auto;
	border: 1px solid red;
	background-color:  rgba(255, 232, 214, .2);
}
tr td:first-child {
	text-align: center;
	padding: 1px 12px;
}
td span {
	font-size: 2em;
	line-height: 1;
}

/*********Form**********/
.form-section {
	margin-top: 100px;
	background-color: azure;
	padding: 10px 0;
	margin-bottom: 10px;
}
form {
	width: 90%;
	margin: 0 auto;
}
fieldset {
	background-color: rgba(255, 232, 214, .2); 
	padding: 1em;
	margin: 20px 0;
}
label, input{
	display: block;
}
label {
	padding: 5px 0;
}
input {
	width: 200px;
	height: 25px;
}

#description {
	display: block;
	height: 6rem;
}
.inline-radio input {
	display: inline; 
	width: 15px;
}
.inline-radio label {
	display: block;
}
#button {
	background-color: #B61E1E;
	padding: 6px 0;
	border: none;
	color: white;
	font-size: 1.2rem;
	height: auto;
}
.submit {
	width: 100px;
	padding: 10px;
	background-color: darkred;
	color: white;
	border: none;
	font-size: 1.1em;
	height: auto;
}
/******Board******/
.board {
	background-color: lightblue;
	text-align: center;
	margin-top: -18px;
	padding-bottom: 10px;
}
.board-list {
	margin-left: -44px; 
	list-style-type: none;
}
.board-list li{
	display: block;
	background-color: azure;
	padding: 4px;
	margin: 0 8px;
}
.board-list img{
	width: 160px;
}
.contact-form fieldset {
	width: 70%;
	margin: 0 auto;
}
.contact-section {
	padding-top: 20px;
	margin: 2px 0;
	background-color: rgba(255, 232, 214, .2);
	display: block;
	padding-bottom: 20px;
	align-items: center;
	margin-bottom: -12px;
}
.contact-section div:nth-child(1) {
	text-align: center;
}

.confirm {
	margin-top: 180px;
} 
.confirm button {
	width: 40%;
}

.weather {
	text-align: center;
}
#openForecast {
	margin-left: 15px;
	width: 90%;
	display: flex;
	grid-template-columns: repeat(auto-fix, minmax(200px 1fr));
	justify-content: center;
}
#openForecast div:nth-child(4), #openForecast div:nth-child(5) {
	display: none;
}

/****Directory***/
.directories {
	text-align: center;
	background-color: rgba(255, 232, 214, .2);
	padding: 10px 0;
}

.cards p, .cards a{
	margin-top: -10px;
	display: block;
	padding: 5px 0;
}
.cards img {
	width: 100%;
}

.cards section {
	width: 90%;
	border: 1px solid black;
	background-color: azure;
	text-align: center;
	margin: 0 auto;
}
.directories button{
	display: none;
}


/*****Footer*******/
footer {
	text-align: center;
	background-color:  #860C46;
}
footer p, footer a {
	font-size: 1.1em;
	padding: 5px;
	line-height: 1.5;
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: blue;
}
.icons img {
	width: 30px;
}




