@media only screen and (min-width: 60em) {

	header picture img {
    width: 140px;
  }

  header .heading h1 {
    font-size: 40px;
  }

  header h3 {
    font-size: 28px;
  }

  footer {
    max-width: 66em;
    margin: auto;
  }

	
}