@media only screen and (min-width: 32.5em) {
	header picture img {
    width: 120px;
  }

  header h1 {
    font-size: 38px;
  }

  header h3 {
    font-size: 24px;
  }

  nav ul,
  nav ul.hidden {
    display: flex;
    border-top: none;
  }

   nav button {
    display: none;
  }

  nav ul li {
    flex: 1 1 100%;
  }

   nav ul li a {
    font-size: 18px;
    padding: 1em;
  }

  nav ul li.active a {
    box-shadow: 0 2px 0 hsl(40, 80%, 30%);
  }

  nav ul li:hover a {
    box-shadow: 0 4px darkred;
  }

  /***************INDEX Page**********************/
  main {
    max-width: 48em;
    margin: auto;
  }

  .towns section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .imgContainer,.textContainer {
    align-self: center;
  }

  @media only screen and (max-width: 64rem) {
    .towns section:nth-of-type(even) {
      display: flex;
      flex-flow: row-reverse;
    }
    .towns section:nth-of-type(even) .imgContainer, .towns section:nth-of-type(even) .textContainer {
      width: 50%;
    }
  }

  /**************** PRESTON TOWN Page*************************/
 /**** .hero {
    width: 1050px;
  }

  .center {
    text-align: center;
  }

  .center, h3 .center {
    font-size: 30px;
  }

  h3.center {
    display: block;
    text-align: center;
    font-size: 30px;
  }

  .forecast {
    display: block;
  }

  .forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
}

.forecast-day {
  border: 1px solid black;
  background-color: rgba(240, 206, 102, 0.5);
  text-align: center;
  font-family: 'PT Serif', serif;
}

.float {
  float: right;
}
****/

/********************Gallery Page*******************/
 .grid-box {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-gap: 10px;
  }

  .grid-box div {
    margin: 0 auto;
  }

/*******************Storm Center********************/


}