body {
	font-size: 16px;
	font-family: Cambria, serif;
	background-color: azure;
}

img {
	width: 100px;
}

h1 {
	margin-top: -10px;
	font-size: 2rem;
	color: darkred;
}

h2 {
	color: black;
}

h3 {
	color: black;
}

span {
	color: gold;
	animation: light 5s infinite;
}
@keyframes light {
	50% {
		color: darkred;
	}
}

nav {
	border-bottom: 1.5px solid darkred;
	max-width: 250px;
}

p {
	font-family: calibri;
	font-size: 1.1rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: visible;
}

nav ul li a {
	display: block;
	text-decoration: none;
	padding: 0.76rem;
	color: darkred;
	font-size: 1.2rem;
	font-family: calibri, serif;
}

li a:hover {
	background-color: darkred;
	color: white;
}

main {
	max-width: 85%;
}

section p a {
	color: darkred;
	text-decoration: none;
}

section p a:hover {
	color: red;
}

table, th, td{
	border: 1px solid darkred;
	font-family: calibri, serif;
}

table th, table td {
	text-align: left;
	padding: 5px;
}

table .sample1, .sample2, .sample3 {
	font-size: 30px;
	font-weight: bolder;
	padding: 6px;
}

.sample1 {
	font-family: Georgia;
}

.sample2 {
	font-family: cambria;
}

.sample3 {
	font-family: "Times New Roman";
}

.color1 {
	background-color: azure;
	padding: 20px;
	width: 40px;
}

.color2 {
	background-color: black;
	padding: 20px;
}

.color3 {
	background-color: darkred;
	padding: 20px;
}

.color4 {
	background-color: gold;
	padding: 20px;
}

section li {
	font-family: calibri, serif;
	font-size: 1.04rem;
}

@media only screen and (min-width: 37.5em) {

	nav {
		max-width: 70%;
	}

	nav ul {
		display: flex;
	}

}

@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.2rem;

	}
}